In [2]:
with open('/home/j/Documents/Projects/MLotsawa/sample-data.txt') as f:
    lines = f.read().split("\n")[:-1]
text_pairs = []
for line in lines:
    try:
        tib, eng = line.split(",")[:2]
        eng = eng.lower()
        text_pairs.append((tib, eng))
    except:
        pass

text_pairs

[('tashi delek', ' greetings'), ('yeshe', ' wisdom')]

In [3]:
dat = [{'translation': {'bo': pair[0], 'en': pair[1]}} for pair in text_pairs]

dat[0]

{'translation': {'bo': 'tashi delek', 'en': ' greetings'}}

In [4]:
import pandas as pd

df = pd.DataFrame(dat)

df

                                 translation
0  {'bo': 'tashi delek', 'en': ' greetings'}
1           {'bo': 'yeshe', 'en': ' wisdom'}

In [5]:
import pickle

df.to_pickle('sample-data.p')